In [1]:
tuple = (10,20,30,40)
print(type(tuple))
tuple.count(10)

<class 'tuple'>

1

In [2]:
tuple.index(10)

0

In [3]:
tuple.index(30)

2

In [4]:
tuple.index(20)

1

In [6]:
# tuple indexing and slicing
tuple = (10,20,30,[40,50,(30,40,(60,70,80))])

In [10]:
# Example :
# O\p : 70,80
tuple  [3][2][2][1:]

(70, 80)

In [11]:
# Conditional Statement
'''
if Condition== True:
Perform Operations inside the loop
else :
perform this operation 
Note : = : Assignment Operator 
      : ==: Comparison Operator 
''' 
num = 10
if num == 10:
    print('The Value is 10')
else:
    print('The Value is Other Than 10')

The Value is 10

In [12]:
# Check the Given string is Palindrom
text = 'dad'
text1 = text[::-1]
if text == text1:
print('The given string is Palindrom')
else
print('The Given String is Not a Palidrom')

IndentationError: expected an indented block after 'if' statement on line 4 (2071701151.py, line 5)

In [ ]:
'''

In [16]:
'''
marks >80 : Best Student 
Marks between 60 to 79 : Good Student 
Marks Between 50 to 59: : Average Student 
Marks < 49 : Poor Student 
''' 
marks = float(input('Enter Marks of the Student'))
if marks >= 80 :
 print('Best Student')
elif marks< 80 and marks > 60:
   print('Good Student')
elif marks <60 and marks >50:
 print ('Average Student')
else:
 print('Poor Student')

Best Student

In [27]:
'''
balance = 10000
withdraw = amount 
threshould = 2000
'''
balance = 10000
threshould = 2000
withdraw  = float(input('Enter the  Amount to Withdraw'))
if withdraw >= balance :
     print ('Insufficient Balance')
if withdraw <= balance:
  new_balance = balance - withdraw
  if new_balance >= 2000:
       print ('New Balance is ',new_balance)
  else :
         print('Check')

New Balance is  2000.0

In [28]:
# For Loop
for i in  range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [30]:
for i in range(1,11):
    print(i,end ='' '')

12345678910

In [31]:
''' 
*
**
***
****
******
'''
for i in range(1,6):
    print('*'*i)

*
**
***
****
*****

In [33]:
*
****
**********
*************
**************
for i range (0,6):
    print('*'*i*i)

SyntaxError: invalid syntax (1339032311.py, line 1)